.vscode/**
.vscode-test/**
.claude/**
package-lock.json
media/*.gif
media/*.jpg
media/*.webp
media/*.mp4
out/**
node_modules/**
src/**
doc/**
.gitignore
.yarnrc
esbuild.js
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
